* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', serif;
  font-size: 1em;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #f65c5c;
  text-decoration: none;
}

img {
  width: 100%;
}

span {
  font-size: 0.95em;
  background-color: rgb(255, 209, 209);
  color: #1d1d1e;
  border-radius: 5px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px 0 5px;
  font-family: "Source Code Pro", monospace;
}

.code {
  font-family: "Source Code Pro", monospace;
}

.desc {
  font-size: 0.85em;
}

sup {
  font-size: 0.65em;
  line-height: 0;
  vertical-align: super;
  text-decoration: underline;
}

h2 {
  padding-top: 3em;
}

.two-column {
  float: left;
  width: 50%;
  padding: 2px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.intro {
  text-align: center;
  padding-top: 1em;
}

table {
  border-collapse: collapse;
  width: 45%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

li {
  padding-bottom: 0.5em;
}